<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_common_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{720,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,93}}</string>
                <key>sourceSize</key>
                <string>{720,95}</string>
            </dict>
            <key>bg_common_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{720,168}}</string>
                <key>sourceSize</key>
                <string>{720,170}</string>
            </dict>
            <key>bg_common_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{433,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{433,218}}</string>
                <key>sourceSize</key>
                <string>{439,224}</string>
            </dict>
            <key>bg_common_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{433,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{433,163}}</string>
                <key>sourceSize</key>
                <string>{439,169}</string>
            </dict>
            <key>bg_common_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,628},{156,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{156,32}}</string>
                <key>sourceSize</key>
                <string>{162,38}</string>
            </dict>
            <key>bg_common_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,437},{422,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{422,166}}</string>
                <key>sourceSize</key>
                <string>{428,172}</string>
            </dict>
            <key>bg_common_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,437},{421,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{421,73}}</string>
                <key>sourceSize</key>
                <string>{427,79}</string>
            </dict>
            <key>bg_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,437},{189,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{189,41}}</string>
                <key>sourceSize</key>
                <string>{195,47}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,947},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,66}}</string>
                <key>sourceSize</key>
                <string>{55,72}</string>
            </dict>
            <key>btn_common_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,724},{91,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{91,38}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>btn_get_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,967},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,29}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>
            </dict>
            <key>btn_get_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,967},{78,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{78,29}}</string>
                <key>sourceSize</key>
                <string>{84,35}</string>
            </dict>
            <key>btn_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,882},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{60,61}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,591},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,75}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>coin_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,786},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{33,35}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>coin_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,947},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{35,36}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>icon_army.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,775},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{105,102}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>icon_army_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,861},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>icon_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,668},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{105,102}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>icon_mission_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,834},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>icon_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,860},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{105,102}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>icon_shop_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>icon_wars.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,861},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{105,102}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>icon_wars_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,724},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>role_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{97,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{97,160}}</string>
                <key>sourceSize</key>
                <string>{103,166}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,927},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,41}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,882},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,41}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,514},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,75}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>wood_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,437},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,75}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{652,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f350242304739f806fc075efaee7c8c:1/1$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
